<form #addProductForm="ngForm" (ngSubmit)="update()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input
      #nameinp="ngModel"
      required
      pattern="^[a-zA-Z]{3,8}$"
      [(ngModel)]="product.name"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="name"
    />

    @if(nameinp.touched){
    <div class="my-3">
      @if (nameinp.errors?.['required']) {
      <span class="text-danger alert alert-danger">name is required</span>}
      @if(nameinp.errors?.['pattern']){
      <span class="text-danger alert alert-danger">name must be 3 chara</span>
      }
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Quantity</label>
    <input
      required
      [(ngModel)]="product.quantity"
      type="number"
      class="form-control"
      id="exampleInputPassword1"
      name="quantity"
      #quantinp="ngModel"
    />

    @if(quantinp.touched){
    <div class="my-3">
      @if (quantinp.errors?.['required']) {
      <span class="text-danger alert alert-danger">quan is required</span>}
    </div>
    }
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">price</label>
    <input
      type="number"
      [(ngModel)]="product.price"
      class="form-control"
      id="exampleInputPassword1"
      name="price"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image</label>
    <input
      [(ngModel)]="product.imgUrl"
      type="file"
      class="form-control"
      id="exampleInputPassword1"
      name="image"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">categories</label>
    <select
      [(ngModel)]="product.catId"
      class="form-select"
      aria-label="Default select example"
      name="cat"
    >
      @for (cat of catlist; track $index) {
      <option [value]="cat.id">{{ cat.name }}</option>

      }
      <!-- <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
    </select>
  </div>

  <button
    [disabled]="addProductForm.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Add
  </button>
</form>
